<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <ul id="navbar">
        <li style="text-align:left">@Html.ActionLink("Сотрудники", "Employees", "Employee")</li>
        @if (Request.IsAuthenticated)
        {
            <li style="text-align:left">@Html.ActionLink("Руководители", "Leaders", "Employee")</li>
            <li style="text-align:left">@Html.ActionLink("Добавить", "Add", "Employee")</li>
        }
        @Html.Partial("_LoginPartial")
    </ul>

    <div id="main_container">
        @RenderBody()
    </div>

</body>
</html>
